.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Softie1";
  src: local("AirbnbCerealMedium"),
    url("../public/fonts/192e369fd43210ef-s.p.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Softie2";
  src: local("AirbnbCerealMedium"),
    url("../public/fonts/8058cf5fb2d1e7bc-s.p.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Softie3";
  src: local("AirbnbCerealMedium"),
    url("../public/fonts/a2c2e099a5981689-s.p.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

.softie_1 {
  font-family: "Softie1", Fallback, sans-serif;
}

.softie_2 {
  font-family: "Softie2", Fallback, sans-serif;
}

.softie_3 {
  font-family: "Softie3", Fallback, sans-serif;
}

@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.animate-shine {
  animation-name: shine;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.bg-rainbow {
  background: linear-gradient(
    to bottom,
    blue,
    #ff9900,
    #33cc33,
    #3399ff,
    #6633cc
  );
  background-size: 100% 600%; /* Điều này tạo hiệu ứng uốn cong */
  animation: rainbow-animation 10s linear infinite; /* Thêm hiệu ứng chuyển động */
}

@keyframes rainbow-animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
}

@keyframes bounceAround {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}
@keyframes loadIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes shaker {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 80px));
  }
}
.marquee-element {
  animation: marqueeScroll 30s linear infinite forwards;
}
